<!doctype html>
<html ng-app="meetupApp">
<head>
	<meta charset="UTF-8">
	<title>My Angular-Express-MongoDB App</title>

</head>
<body>
	<h1>Sunday Project</h1>
	
	<div ng-controller="meetupsController">
		<h2>There are {{meetups.length}} meetups </h2>
		<ul>
			<li ng-repeat="meetup in meetups">
				{{meetup.name}}
			</li>
		</ul>
		<form ng-submit="createMeetup()">
			<input type="text" placeholder="Meetup name..." ng-model="meetupName">
			<button type="submit">Add</button>
		</form>
		
	</div>




<!-- angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<!-- ngResource -->
<script src="https://code.angularjs.org/1.2.26/angular-resource.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script> -->
<!-- ngResource local loaded -->
<!-- <script src="/js/libs/angular-resource.js"></script> -->

<!-- Remember we are handling all these routes on our server.js -->
<script src="/js/app.js"></script>
<!-- meetups-controller.js -->
<script src="/js/controllers/meetups-controller.js"></script>
	
</body>
</html>